.grid-row {
    flex: 0 0 auto;
    width: 25%;
}

@media screen and (max-width: 1520px) {
    .grid-row {
        flex: 0 0 auto;
        width: 33.3%;
    }
}


@media screen and (max-width: 1230px) {
    .grid-row {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media screen and (max-width: 950px) {
    .grid-row {
        flex: 0 0 auto;
        width: 100%;
    }
}
