<h1> Random Image! </h1>
<app-search-form></app-search-form>

<hr>
<app-loading-notification *ngIf="(isLoading$| async)"></app-loading-notification>
<ng-container *ngIf="(imageInfo$ | async) as imageInfo">
    <app-image-frame [imageURL]="imageInfo.imageUrl" [imageSize]=400 priority></app-image-frame>
    <div *ngIf="imageInfo.name" class="feedback-container">
        <h3 class="message">{{ "It is a " + ( imageInfo.name | titlecase ) + "!!" }}</h3>
        <button class="more" (click)="onClickMoreResults.bind(this, imageInfo.navLink)"> {{ "More results!" }}
        </button>
    </div>
</ng-container>
<hr>
