.body {
  display: grid;
  grid-template-columns: var(--navbar-width) 1fr;
  transition: grid-template-columns 0.5s ease;
  background-color: var(--baby-blue);

  &.collapsed {
    grid-template-columns: var(--navbar-width-collapsed) 1fr;
  }

  app-master-nav {
    height: var(--content-height);
  }

  .content-wrapper {
    width: 100%;

    .content {
      display: flex;
      margin: var(--header-height) auto 200px;
      padding: 0 16px;
      flex-direction: column;
      align-items: center;
      max-width: 1200px;
    }
  }
}

.cdk-overlay-container{
    left:200px;
    top:200px;
}
.cdk-overlay-connected-position-bounding-box{
    top:0 !important;
}


.search-input {
  outline: none;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  color: var(--cream-coffee)
}
