  .body {
    display: grid;
    grid-template-columns: var(--navbar-width) 1fr;
    gap: 20px;
    margin-top: 60px
  }

  .content {
    display: flex;
    margin: 82px auto var(--navbar-width);
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }
