:root {
  --deep-blue: #3b6292;
  --sky-blue: #85B3D1FF;
  --baby-blue: #B3C7D6FF;
  --cream-coffee: #D9B48FFF;
  --grey: #808080;
  --navbar-width: 300px;
  --navbar-width-collapsed: 60px;
  --header-height: 60px;
  --footer-height: 0px;
  --content-height: calc(100vh - var(--footer-height));
  --content-width: calc(100vw - var(--navbar-width));
}

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}
html, body { height: 100%; }

body { 
  margin: 0; 
  font-family: 'Comic Sans MS';
}

// Overwrite some predefined styles:
.mat-menu-panel {
  border-radius: 8px !important;
}
.mat-menu-content {
  background-color: var(--cream-coffee);
}

.mat-list-base {
  padding-top: 0 !important;
}

.cdk-overlay-pane {
  position: fixed !important;
  left: calc(var(--navbar-width) - 20px);
}

.cdk-overlay-container {
  height: unset;
  width: unset;
}

